*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.image{
 height: 100vh;
 clip-path: polygon(0 0, 100% 0, 100%
 100%, 0% 100%) ;
}

img{
    object-fit: cover;
    height: 600px;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

.box1{
    background-color: aqua;
}

.box2{
    background-color: chocolate;
}
